<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %> 
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %> 
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :goal_in_cents %>
    <%= f.number_field :goal_in_cents %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <br><%= f.submit %> 
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>