
<%= link_to "+ Add New Projects", new_project_url %>

<% @projects.each do |project| %>
  </br><h2><%= link_to project.title, project_url(project) %></h2></br>
  <div class="showcaseimg"><%= image_tag project.photo %></br></div>
  <%= project.description %></br>
  <%= project.user_id %></br>
  $<%= project.goal_in_cents.to_f / 100 %></br>
  <%= (project.end_date - project.start_date).to_i %> Days Left</br>
  Amount Raised So Far: $<%= (project.pledges.sum(:amount_in_cents).to_f) /100 %></br>
  Funded: <%= (project.pledges.sum(:amount_in_cents).to_f/project.goal_in_cents.to_f) *100 %>%
  
  <div class="progress small-9 success round">
    <span class="meter" style="width:<%= (project.pledges.sum(:amount_in_cents).to_f/project.goal_in_cents.to_f) *100 %>%"></span>
  </div>

<% end %>