<!-- <div class="row" id="showcase"></div>
<div class="row" id="fill"><div class="leftfill"></div><div class="rightfill"></div></div> -->

<% if current_user %>
  <%= link_to "+ Add New Projects", new_project_url, {:class => "button"} %></br>
<% end %>

<% @projects.each do |project| %>
  <h2><%= link_to project.title, project_url(project) %></h2>
  <div class="showcaseimg"><%= link_to (image_tag project.photo), project_url(project) %></br></br></div>
  <%= project.description %></br>
  By: <%= User.find(project.user_id).username %></br>
  Goal: $<%= (project.goal_in_cents.to_f / 100).round %></br>
  <%= (project.end_date - project.start_date).to_i %> Days Left</br>
  Amount Raised So Far: $<%= ((project.pledges.sum(:amount_in_cents).to_f) /100).round %></br>
  Funded: <%= ((project.pledges.sum(:amount_in_cents).to_f/project.goal_in_cents.to_f) *100).round %>%
  <br/>
  <br/>
  <div class="progress small-9 success round">
    <span class="meter" style="width:<%= percentagechecker(project) %>%"></span>
  </div>

  Categories: <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

  <hr>

<% end %>