

<div class="row" id="showcase"></div>
<!-- <div class="row" id="fill"><div class="leftfill"></div><div class="rightfill"></div></div>
 -->

 <div class="search">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag :s, nil, :placeholder => "Search Projects" %>
    <%= submit_tag("SEARCH") %>
  <% end %>
</div>
</br>
<div class="row">
  <div class="large-12 columns">

<% if current_user %>
  <%= link_to "+ Add New Projects", new_project_url, {:class => "button"} %></br>
<% end %>

<% @projects.each do |project| %>
  <div class="large-4 small-6 columns">
    <div class="panel">
      <h4><%= link_to project.title, project_url(project) %></h4>
      <div class="showcaseimg"><%= link_to (image_tag project.photo), project_url(project) %></br></br></div>
      <%= project.description %></br>
      <h6>Goal: <strong>$<%= (project.goal_in_cents.to_f / 100).round %></strong></h6>
      <hr>
      <strong><%= (project.end_date - project.start_date).to_i %></strong> Days Left</br>
      Amount Raised So Far: <strong>$<%= ((project.pledges.sum(:amount_in_cents).to_f) /100).round %></strong></br>
      Funded: <strong><%= ((project.pledges.sum(:amount_in_cents).to_f/project.goal_in_cents.to_f) *100).round %>%</strong>
      <br/>
      <br/>
      <div class="progress small-12 success round">
        <span class="meter" style="width:<%= percentagechecker(project) %>%"></span>
      </div>

      Categories: <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

      <hr>
    </div>
  </div>

<% end %>

  </div>
</div>