<h1> Search Results </h1>
<hr>

<% @result.each do |r| %>
  <h2><%= r.title %></h2></br>
  <%= image_tag r.photo %></br>
  <%= r.description %></br>
  $<%= (r.goal_in_cents.to_f/100).round %></br>
  <%= r.start_date %></br>
  <%= r.end_date %></br>
<% end %>