<% if current_user != nil %>
  <% if session[:user_id] == @project.user_id %>
    <h3><%= current_user.username %>'s Owner Console</h3>
    <%= link_to "Edit This Project", edit_project_path %> | 
    <%= link_to "Delete This Project", @project, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
<% end %>

<h2><%= @project.title %></h2></br>
<%= image_tag @project.photo %></br></br>
<%= @project.description %></br>
Goal: $<%= (@project.goal_in_cents.to_f / 100) %></br>
Start Date: <%= @project.start_date %></br>
End Date: <%= @project.end_date %></br>
<%= @days_left %> Days Left</br>
Pledges so far: $<%= @total.to_f / 100 %></br></br>

<h3> Pledges </h3>
  <div id="pledge-list">
    <%= render "showpledge" %>
  </div>
</br>

<% if current_user %>
  <a href="#" data-reveal-id="pledgeModal" class="radius button">I Want to Pledge!</a>
  <div id="pledgeModal" class="reveal-modal" data-reveal>
    <%= render "pledgeform" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>

</br>

<h3> Comments </h3>
  <div id="discussion-list">
    <%= render :partial => "showcomment" %>
  </div>
</br>

<% if current_user %>
  <a href="#" data-reveal-id="commentModal" class="radius button">Add a Comment</a>
  <div id="commentModal" class="reveal-modal" data-reveal>
    <%= render "commentform" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>