<%= link_to "Back to All Projects", projects_path %> | 
<%= link_to "Edit The Project", edit_project_path %>

</br><h2><%= @project.title %></h2></br>
<%= image_tag @project.photo %></br></br>
<%= @project.description %></br>
<%= @project.user_id %></br>
$<%= (@project.goal_in_cents.to_f / 100) %></br>
Start Date: <%= @project.start_date %></br>
End Date: <%= @project.end_date %></br>
<%= @days_left %> Days Left</br>
Pledges so far: $<%= @total.to_f / 100 %>

<% if current_user %>
  <h3> Pledges </h3>
  <p> Pledges for <%= @project.title %></p>

  <% @project.pledges.each do |pledge| %>
    <% if pledge.user !=nil %>
      Contributor: <%= pledge.user.username %></br>
      $<%= (pledge.amount_in_cents.to_f / 100) %></br>
      <%= pledge.created_at %></br>
    <% end %>
  <% end %>
<% end %>
</br>

<a href="#" data-reveal-id="pledgeModal" class="radius button">I Want to Pledge!</a>

<div id="pledgeModal" class="reveal-modal" data-reveal>
  <%= render "pledgeform" %>
<a class="close-reveal-modal">&#215;</a>
</div>
